<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/styles/style.css" />
    <title>Search for a Book</title>
  </head>
  <body>
    <header>
      <div class="headerTop">
        <div class="logo">Best Books!</div>
        <div class="hamburgerMenu">
          <div class="line"></div>
          <div class="line"></div>
          <div class="line"></div>
        </div>
      </div>
      <nav class="none">
        <ul>
          <li><a href="/">Home Page</a></li>
          <li><a href="/searches/new">Search</a></li>
        </ul>
      </nav>
    </header>
    <main>
      <div class="bookCard">
        <img src="<%= book.image_url %> " alt="" />
        <h2 class="book_title"><%= book.title %></h2>
        <p class="book_auther"><%= book.auther %></p>
        <p class="book_description details"><%= book.description %> </p>

        <p class="book_isbn"><%= book.isbn %> </p>
        <p class="book_book_shelf">BookShelf: <%= book.book_shelf %> </p>
        
        <div class="book_actions_container">
            <form method="post" id="update_book_form" class="update_book_form">
                <button type="submit" class="book_select_btn">Update Details</button>
            </form>
            <form method="delete" id="delete_book_form" class="delete_book_form">
                <button type="submit" class="book_select_btn">Delete Book</button>
            </form>
        </div>
      </div>
    </main>

    <footer></footer>
    <script src="https://code.jquery.com/jquery-2.2.4.min.js"></script>
    <script src="/js/app.js"></script>
  </body>
</html>
